# Connection information for Housing Data Coalition's NYCDB instance
HDC_NYCDB_HOST='xxx'
HDC_NYCDB_USER='xxx'
HDC_NYCDB_PASSWORD='xxx'
HDC_NYCDB_PORT=5432
HDC_NYCDB_DBNAME='nycdb'

# Census API key. Request your own at http://api.census.gov/data/key_signup.html
ACS_API_KEY=

# Mapbox API token for basemap
MAPBOX_TOKEN=
